
.loginForm {
	display: block;
	text-align: center;
	padding: 5px;
	border-radius: 25px;
	height: 60%;
	width: 40%;
  justify-content: center;
	margin: auto;
}

p {
	text-align: center;
	font-size: 30px;
	color: #1f7c93;
}

a:link {
	color: red;
	margin: 3px 3px;
}

a:visited {
	color: blue;
	margin: 3px 3px;
}

#username_tb{
	padding: 5px;
	margin: 5px;
	border-radius: 6px;
  width: 50%;
}

#pass_tb{
	padding: 5px;
	margin: 5px;
	border-radius: 6px;
	width: 50%;
}

#loginButton{
	padding: 5px;
	margin: 5px;
}

body{
	background-image: url("photo.jpg");
	background-size:cover;
}
